include ../../../../Mixins.pug


+Switch--Handlebars("dayOfWeekNumber__numerationFrom0AsSunday")

  +Case--Handlebars(0)

    | Sunday

  +Case--Handlebars(1)

    | Monday

  +Case--Handlebars(2)

    | Tuesday

  +Case--Handlebars(3)

    | Wednesday

  +Case--Handlebars(4)

    | Thursday

  +Case--Handlebars(5)

    | Friday

  +Case--Handlebars(6)

    | Saturday
